spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    properties:
      hibernate:
        default_schema: weathergrid
    hibernate:
      ddl-auto: validate
    show-sql: true
  mvc:
    async:
      request-timeout: 360000

influxdb:
  url: ${INFLUXDB_URL}
  token: ${INFLUXDB_TOKEN}
  org: SKNI
  bucket: czujniki
  timeRange: 60s

scheduler:
  default-rate: 60

batch:
  size: 5

logging:
  level:
    root: INFO
    skni.kamilG: DEBUG
    org.springframework: INFO
    org.hibernate: INFO
    com.zaxxer.hikari: INFO
    org.apache: INFO

sse:
  timeout:
    limit-minutes: 5