spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  mvc:
    async:
      request-timeout: 720000
  jpa:
    properties:
      hibernate:
        default_schema: weathergrid
    hibernate:
      ddl-auto: validate
    show-sql: true

influxdb:
  url: ${INFLUXDB_URL}
  token: ${INFLUXDB_TOKEN}
  org: SKNI
  bucket: czujniki
  timeRange: 60s

scheduler:
  default-rate: 180

logging:
  level:
    org.springframework.web.servlet.resource.ResourceHttpRequestHandler: ERROR

batch:
  size: 5

sse:
  timeout:
    limit-minutes: 15


